@model AddReviewToCompanyCommand

@using (Html.BeginForm())
{

    <div class="row" style="margin-top: 10px;">
        <div class="offset2 span6 well">
            @Html.TextAreaFor(_ => _.Text, new { @class = "input-xxlarge", rows="5"})
            @Html.HiddenFor(_=>_.CompanyId)
            <div class="row">
                <div class="span4">
                    <label class="radio">
                        @Html.RadioButtonFor(_ => _.Type, AddReviewToCompanyCommand.ReviewType.Good)
                        <span class="label label-success">Хорошо</span>
                    </label>
                    <label class="radio" >
                        @Html.RadioButtonFor(_ => _.Type, AddReviewToCompanyCommand.ReviewType.Bad)
                        <span class="label label-important">Плохо</span>
                    </label>
                </div>
                <div class="span2"><input type="submit" class="btn btn-large" value="Добавить отзыв" /></div>
            </div>
        </div>
    </div>
}