        <h1>Google <small>Москва, Московская область, Почтовый переулок 9Б</small></h1>
        <p>Сайт: http://www.kl82.com/
Дизайн-студия КЛ82 предлагает услуги в области разработки сайтов и создание flash-анимации. 
Мы занимаемся разработкой веб-сайтов различной сложности от сайтов-визиток до сложных многопользовательских порталов.</p>

