@model System.Collections.Generic.List<string>

<div class="row">
    <div class="span6">
    <div class="row">
        @for (int n = 1; n <= 4; n++)
        {
            <div class="span2">
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/160x120" alt="">
                </a>
            </div>
        }
        </div>
    </div>
</div>