@model PhotosCompanyDetailsViewModel
@{
    ViewBag.Title = "sdf";
    Layout = "~/Views/Shared/_CompanyDetailsViewModel.cshtml";
    ViewBag.SelectedNavigation = "3";
}

@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                <li>
                    <span class="divider">/</span>
                    @Html.ActionLink(Model.CompanyName, "Details", "Companies", new { id = Model.CompanyId }, null)  
                </li>
                <li>
                    <span class="divider">/</span>
                    Фотографии 
                </li>
                </ul>
}

@section Main{
    @Html.Partial("_CompanyPhotos6", Model.Photos)
    @using(Html.BeginForm())
    {
        <input type="file"/>
        <input type="submit" value="Добавить фото" class="btn"/>
    }
}



