@model ReviewCompanyDetailsViewModel
@{
    ViewBag.Title = Model.CompanyName;
    Layout = "~/Views/Shared/_CompanyDetailsViewModel.cshtml";
    ViewBag.SelectedNavigation = "2";
}
@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                <li>
                    <span class="divider">/</span>
                    @Html.ActionLink(Model.CompanyName, "Details", "Companies", new { id = Model.CompanyId }, null)  
                </li>
                <li>
                    <span class="divider">/</span>
                    Отзывы 
                </li>
    </ul>
}

@section Main{

    @Html.Partial("_AddReviewForm6", new AddReviewToCompanyCommand { CompanyId = Model.CompanyId })
    @Html.Partial("_CompanyReviews6", Model.Reviews)
}
