@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                <li>
                    <span class="divider">/</span>
                   @* @Html.ActionLink(Model.Name, "Details", "Companies", new { id = Model.Id }, null)  *@
                </li>
                <li>
                    <span class="divider">/</span>
                    Отзывы 
                </li>
    </ul>
}
<div class="span12">
    <div class="row" >
      
          <div class="span4">
        <a href="#" class="thumbnail">
        <img src="http://placehold.it/360x268" alt="">
        </a>
    </div>

      <div class="span6 ">
        <textarea  id="textarea" class="input-xxlarge" rows="5"></textarea>
        <div class="row">
          <div class="span4">
                              <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                        <span class="label label-success">Хорошо</span>
                    </label>
                    <label class="radio" >
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                        <span class="label label-important">Плохо</span>
                    </label>
          </div>
          <div class="span2"><input type="submit" class="btn btn-large" value="Добавить отзыв" /></div>
        </div>
    

    </div>
    <div class="span2">    
    
    <ul class="nav nav-list well">
        <li class="active"><a href="/Companies/Details/1eaaaa33-e58f-40bc-a179-933077c4c5ee"><i class="icon-home"></i>Главная</a></li>
        <li><a href="/Companies/Reviews/1eaaaa33-e58f-40bc-a179-933077c4c5ee"><i class="icon-comment"></i> Отзывы (215)</a></li>
        <li><a href="#lB"><i class="icon-wrench"></i> Услуги (4)</a></li>
        <li><a href="/Companies/Photos/1eaaaa33-e58f-40bc-a179-933077c4c5ee"><i class="icon-camera"></i> Фотографии</a></li>
        <li><a href="#lC"><i class="icon-user"></i> Вакансии (2)</a></li>
    </ul>
</div>
    </div>
</div>